/* Section Styling */
.profile-section {
  margin: 0px auto;
  padding: 50px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Header Section */
.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.profile-title {
  font-size: 72px;
  font-weight: bold;
  color: var(--light-blue);
}

.button-profile {
  padding: 10px 20px;
  background-color: #0a66c2;
  color: white;
  border-radius: 8px;
  border: 0px;
  font-weight: 600;
  transition: background-color 0.3s;
  cursor: pointer;
}

.button-profile:hover {
  background-color: #084a9c;
}

/* Profile Content */
.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  gap: 20px;
}

/* Profile Picture Styling */
.profile-picture-profile {
  flex: 0 0 120px;
  height: 240px;
}

.profile-pic-profile {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

/* Profile Details */
.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.profile-name {
  font-size: 48px;
  font-weight: bold;
  color: #333;
}

.profile-email,
.profile-lokasi {
  font-size: 16px;
  color: #666;
  display: flex;
  align-items: center;
}

.profile-lokasi img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

/* Profile About Section */
.profile-about {
  margin-top: 20px;
}

.profile-description {
  font-size: 16px;
  color: #444;
  line-height: 1.6;
}

/* Responsive Design */
@media (max-width: 600px) {
  .profile-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .profile-content {
    align-items: flex-start;
  }

  .button-profile {
    width: 100%;
    text-align: center;
  }
}
